
<footer class='footer navbar-expand-lg navbar-dark bg-dark'>
  <div class='site-section' style='height: 450px;'>
    <div class='container'>
      <div class='row'>
        <div class='col-3' style='margin-top: 150px;'>
          <div
            class='nav1'
            style='display: flex;
                     justify-content: flex-start;
                    align-items: center; margin-bottom:10px'
          >
            <a class='navbar-image' href=''>
              <img
                src='https://yt3.googleusercontent.com/UsflU74uvka_3sejOu3LUGwzOhHJV0eIYoWcvOfkOre_c12uIN4ys-QqRlAkbusEmbZjTA-b=s900-c-k-c0x00ffffff-no-rj'
                alt='Mô tả hình ảnh'
                style='width: 30px; height: 30px; border-radius: 5px;margin-right:4px'
              />
            </a>
            <h6 style='color: white; ;'>Học Lập Trình Để Đi Làm</h6><br />
          </div>
          <small class='Footer_contact-list' style='color: gray'>Điện
            thoại:
            <a
              href='tel:0246.329.1102'
              style='color: gray'
            >0246.329.1102</a>
            <br />Email:
            <a href='mailto:contact@fullstack.edu.vn' style='color: gray'>
              contact@fullstack.edu.vn</a><br />Số 11D, lô A10, khu đô thị Nam
            Trung Yên, Phường Yên Hòa, Quận Cầu Giấy, TP. Hà Nội</small>
        </div>
        <div class='col-2' style='margin-top: 150px;'>
          <h6 style='color: white;'>Về F8</h6>
          <a href='#' style='color: gray'>Giới Thiệu</a><br />
          <a href='#' style='color: gray'>Liên Hệ</a><br />
          <a href='#' style='color: gray'>Điều Khoản</a><br />
          <a href='#' style='color: gray'>Bảo Mật</a><br />
          <a href='#' style='color: gray'>Cơ hội việc làm</a>
        </div>
        <div class='col-2' style='margin-top: 150px;'>
          <h6 style='color: white;'>Sản Phẩm</h6>
          <a href='#' style='color: gray'>Game Nester</a><br />
          <a href='#' style='color: gray'>Game CSS</a><br />
          <a href='#' style='color: gray'>Game Selector</a><br />
          <a href='#' style='color: gray'>Game Froggy</a><br />
          <a href='#' style='color: gray'>Game Froggy+</a><br />
          <a href='#' style='color: gray'>Game Scope</a>
        </div>
        <div class='col-2' style='margin-top: 150px;'>
          <h6 style='color: white;'>Công Cụ</h6>
          <a href='#' style='color: gray'>Tạo CV xin việc</a><br />
          <a href='#' style='color: gray'>Rút gọn</a><br />
          <a href='#' style='color: gray'>Clip-path maker</a><br />
          <a href='#' style='color: gray'>Snippet generator</a><br />
          <a href='#' style='color: gray'>CSS Grid</a><br />
          <a href='#' style='color: gray'>Cảnh báo</a>
        </div>
        <div class='col-3' style='margin-top: 150px;'>
          <h6 style='color: white;'>CÔNG TY CỔ PHẦN CÔNG NGHỆ GIÁO DỤC F8</h6>
          <a style='color: gray'>Mã số thuế: 0109922901</a><br />
          <a style='color: gray'>Ngày thành lập: 04/03/2022</a><br />
          <a style='color: gray'>Lĩnh vực: Công nghệ, giáo dục, lập trình.
            F8 xây dựng và phát triển những sản phẩm mang lại giá trị cho cộng
            đồng.</a>
        </div>
      </div>
      <div class='row mt-4'>
        <div class='col-10'>
          <div class='Footer_bottom__J7kjW'><p
              class='copyright'
              style='color: gray;'
            >
              © 2018 - 2023 F8. Nền tảng học lập trình hàng đầu Việt Nam</p>
          </div>
        </div>
        <div class='col'>
          <div class='row'>
            <div class='col'>
              <a href='https://www.youtube.com/c/F8VNOfficial'>
                <i
                  class='fa-brands fa-youtube fa-2xl'
                  style='color: #e10909;'
                ></i>
              </a>
            </div>
            <div class='col'>
              <a href='https://www.facebook.com/groups/f8official'>
                <i
                  class='fa-brands fa-square-facebook fa-2xl'
                  style='color: #0557e6;'
                ></i>
              </a>
            </div>
            <a href="http://www.w3.org/2000/svg">
            <div class='col'>
              <i class='fa-brands fa-tiktok fa-2xl' style='color: #0f0f10;'></i>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>