<nav class='navbar navbar-expand-lg navbar-dark bg-dark'>
  <a class='navbar-image' href=''>
    <img
      src='https://yt3.googleusercontent.com/UsflU74uvka_3sejOu3LUGwzOhHJV0eIYoWcvOfkOre_c12uIN4ys-QqRlAkbusEmbZjTA-b=s900-c-k-c0x00ffffff-no-rj'
      alt='Mô tả hình ảnh'
      style='width: 50px; height: 50px; border-radius: 5px;margin-right:4px'
    />
  </a>
  <h5 style='color: white;'>Học Lập Trình Để Đi Làm</h5>
  <div class='collapse navbar-collapse' id='navbarSupportedContent'>
    <div class='input-group' style='margin-left: 300px;'>
      <div class='input-group-prepend'>
        <span class='input-group-text'>
          <i class='fa-solid fa-search' style='color: #cacaca '></i>
        </span>
      </div>
      <input
        class='form'
        type='search'
        placeholder='Tìm kiếm khóa học, bài viết, video, ...'
        aria-label='Search'
        style='border-radius:0px 30px 30px 0px; border: white solid 2px; width:500px; height:40px '
      />
    </div>
    <div class='col-3'>
      <a style='color: white; margin-right:10px'>Khóa học của tôi</a>
      <i class='fa-solid fa-bell' style='color: #ffffff;'></i>
    </div>
  </div>
</nav>